body, html {
    display: flex;
    background-image: url(calcWall.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;


    
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.7);
    width: 400px;
    height:400px;
    padding: 20px;
    border: 1px solid black;
}
#dispContainer{      
    display: flex;
    margin: 0px 0px 3px 0px;
    padding-right: 5px;
    align-items: center;
    justify-content: flex-end;
    border: 0px;
    background-color: white;
    width: 394px;
    height: 50px;
}
#dispText{  
    height:auto;
    width: auto;
    font-size: 30px;
}

#delete{
    width: 156px;
}
.rowContainer {
    display: flex;
    justify-content: center;
    margin: 0px;
}

button{
    font-family: Arial, Helvetica, sans-serif;

    width: 75px;
    height: 50px;
    border-radius: 1px;
    margin: 3px;
    font-size: 20px;
    border: 0;
    color: rgba(27, 27, 27, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
} 

button:hover {
    background-color: rgb(170, 170, 170);
    -webkit-box-shadow: inset 0px 0px 10px 1px rgb(58, 58, 58);
    -moz-box-shadow: inset 0px 0px 10px 1px rgb(58, 58, 58);
    box-shadow: inset 0px 0px 10px 1px rgb(58, 58, 58);
    color: white;

}